.white-popup {
    position: relative;
    background: #FFF;
    padding: 20px;
    width: auto;
    max-width: 800px;
    margin: 20px auto;
    border: grey solid 1px;
    border-radius: 3px;
}

.white-popup span.clearfix {
    content: "";
    display: table;
    clear: both;
}

/* List Item Start */

.memorial-list-image {
    width: 25%;
}

.memorial-list-content {
    width: 50%;

    padding-left: 10px !important;
    padding-right: 10px !important;
}

.memorial-list-view-button {
    width: 25%;
}

@media(max-width: 1000px) {
    .memorial-list-image {
        width: 100%;
    }
    
    .memorial-list-content {
        width: 100%;
    }
    
    .memorial-list-view-button {
        width: 100%;
    }
    .memorial-list-view-button .memorial-list-view-button-inner {
        width: 80%;
        margin: 0 auto !important;
    }
}

/* List Item End */

/*Buttons Start*/
.dfd-button-module-wrap .smith_button .dfd-button-link .dfd-button-inner-cover .dfd-button-text-main {
    font-size: 22px;
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.smith_button.memorial-list-button {
    width: 100% !important;
    display: block !important;
}
@media(max-width: 568px) {
    .dfd-button-module-wrap .smith_button .dfd-button-link .dfd-button-inner-cover .dfd-button-text-main {
        font-size: 13px !important;
    }
}
/*Buttons End*/

/*Titles Start*/
.hm-titles {
    text-align: center;
}
.hm-titles h2, .hm-titles h3 {
    font-family: "Museosans500";
    font-weight: 700;
    margin-bottom: 20px;
}
.hm-titles h2 {
    color: #48484a;
    font-size: 40px;
    line-height: 44px;
    margin-bottom: 0;
    margin-top: 40px;
}
.hm-titles h3 {
    color: #999999;
    font-size: 24px;
    margin-top: 0;
    line-height: 26.4px;
}
/*Text End*/

/*Logo Start*/
.hm-logo {
    width: auto;
    height: 61px;
    margin: 0 auto;
    position: relative;
    display: block;
}
/*Logo End*/

/*Info Start*/
.hm-info {
    float: left;
}
.hm-info img.hm-profile-image {
    margin: 0 auto;
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    outline: solid 3px #48484a;
    margin-right: 0;
}
.hm-info h4 {
    color: #48484a;
    font-size: 18px;
    margin: 0;
    text-align: center;
}
.hm-info p {
    font-family: "AdobeGaramondProRegular";
    color: #48484a;
    font-size: 15px;
    line-height: 26px;
    text-align: center;
    margin-top: 2px;
}
.hm-info span.bold {
    font-weight: bold;
}
.hm-info ul {
    padding-left: 0;
    list-style: none;
    margin-top: 20px;
}
.hm-info ul li {
    margin-top: 20px;
}
.hm-info ul li:first-child {
    margin-top: 0;
}
.hm-info ul li:last-child {
    margin-top: 30px;
}
/*Info End*/

/*Obituary Start*/
.hm-obituary {
    float: right !important;
    font-family: "AdobeGaramondProRegular";
    color: #48484a;
    font-size: 18px;
    margin-top: 0;
}
.hm-obituary p {
    margin-top: 0;
}
/*Obituary End*/

/*Comments Start*/
.hm-comments {
    margin-top: 40px !important;
}

.hm-comments h4 {
    color: #48484a;
    font-size: 18px;
    margin: 0;
    text-align: center;
}

.hm-comments .hm-comments-list {
    list-style: none;
    overflow-y: auto;
    max-height: 600px;
}

.hm-comments .hm-comments-list .hm-comments-list-comment {
    
}

.hm-comments .hm-comments-list .hm-comments-list-comment .hm-comments-list-comment-info {
    font-weight: bold;
    font-family: "AdobeGaramondProRegular";
    color: #48484a;
    font-size: 15px;
}

.hm-comments .hm-comments-list .hm-comments-list-comment .hm-comments-list-comment-content {
    font-family: "AdobeGaramondProRegular";
    color: #48484a;
    font-size: 15px;
    padding: 5px;
}
/*Comments End*/

/*Sizing Starts*/
/*  SECTIONS  */
.section {
    clear: both;
    padding: 0px;
    margin: 0px;
}

/*  COLUMN SETUP  */
.col {
    display: block;
    float:left;
    margin: 1% 0 1% 6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

.col-4 {
    width: 35.2%;
}

.col-6 {
    width: 56.8%;
}

.col-12 {
    width: 100%;
    margin: 0 auto;
}

/*  GO FULL WIDTH AT LESS THAN 700 PIXELS */

@media only screen and (max-width: 700px) {
    .col {
        margin: 1% 0 1% 0;
    }
}

@media only screen and (max-width: 700px) {
    .col { width: 100%; }
}
/*Sizing Ends*/